{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.11.4"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {}}

  :test
  {:extra-paths ["test"]
   :extra-deps
   {lambdaisland/kaocha  {:mvn/version "1.91.1392"}
    org.clojure/data.xml {:mvn/version "0.2.0-alpha9"}}}}}
